In [41]:
import numpy as np
import pandas as pd
import pickle

from sklearn.decomposition import NMF

In [ ]:
#input
with open('nmf_model_comp2_79.pkl','rb') as file:
    loaded_model = pickle.load(file)

In [79]:
P_matrix_random = pd.DataFrame(movies).sample(3).rename(columns={0 : 'the_new_user'}).reset_index().drop(columns=['index']).transpose()

In [85]:
query = {"The Lords of the Rings": 5,
                 "Avatar": 2,
                 "Night on Earth":3.5}

query_df = pd.DataFrame(data=query, index=['user_new'], columns=movies).fillna(user_rating.median())
query_df

,Night on Earth,Inside Out (Alles steht Kopf),Apocalypse Now,The Lords of the Rings,The Big Lebowski,The Great Beauty,Avatar,Toy Story,Black Hawk down,Titanic,Guardians of the Galaxy,Kill Bill,Top Gun
user_new,3.5,4.0,4.0,5,3.75,3.25,2,4.5,5.0,5.0,3.75,4.0,5.0

In [86]:
def recommend_nmf(query, model=0, k=10):
    """
    Filters and recommends the top k movies for any given input query based on a trained NMF model. 
    Returns a list of k movie ids.
    """
    # 1. candidate generation, construct new_user-item dataframe given the query
    query_df = pd.DataFrame(data=query, index=['user_new'], columns=movies).fillna(ratings.median())
    ratings        = user_rating.fillna(user_rating.median())

    nmf_model       = NMF(n_components=3)
    nmf_model.fit(ratings)
    Q_matrix        = nmf_model.components_
    P_matrix    = nmf_model.transform(ratings)
    R_hat           = np.dot(P_matrix,Q_matrix)
    R_hat           = pd.DataFrame(data=R_hat,
                          columns=nmf_model.feature_names_in_,
                          index= users)

    R_hat_user  = np.dot(P_user, Q_matrix)
    R_hat_user  = pd.DataFrame(data=R_hat_user,
                          columns=nmf_model.feature_names_in_,
                          index= users)
    
    
    # 3. ranking
    #R_hat_new_user.transpose().sort_values(by=['new_user'], ascending=False)
    # filter out movies allready seen by the user
    # return the top-k highest rated movie ids or titles
    return query_df
    #return round((ratings-R_hat)**2,3)
    #return NotImplementedError
#round((Ratings-R_hat)**2,3)
recommend_nmf(query)

UnboundLocalError: local variable 'ratings' referenced before assignment

In [51]:
R_hat_user.transpose().sort_values(by=['new_user'], ascending=False)

NameError: name 'R_hat_user' is not defined

# Save & Load

In [48]:
import pickle

with open('nmf_model1.pkl',mode='wb') as file:
    pickle.dump(recommend_nmf(),file)

<class 'numpy.ndarray'>

In [49]:
with open('nmf_model1.pkl','rb') as file:
    loaded_model = pickle.load(file)

In [50]:
loaded_model

,Night on Earth,Inside Out (Alles steht Kopf),Apocalypse Now,The Lords of the Rings,The Big Lebowski,The Great Beauty,Avatar,Toy Story,Black Hawk down,Titanic,Guardians of the Galaxy,Kill Bill,Top Gun
users,,,,,,,,,,,,,
Ahmed,0.095,0.097,0.011,0.013,0.532,0.852,0.633,0.064,0.166,1.419,0.400,0.277,0.069
Jens,0.062,0.004,0.010,0.217,0.155,0.007,0.332,0.040,0.464,0.178,0.020,0.150,1.227
Nuri,0.000,0.470,0.624,0.012,0.033,0.114,0.019,0.008,0.002,0.378,0.176,0.176,0.123
Can,0.011,0.002,0.038,0.015,0.005,0.003,0.571,0.046,0.006,0.318,0.027,0.002,0.004
Catalina,0.017,0.042,0.005,0.002,0.413,0.059,0.030,0.128,0.005,0.439,0.225,0.007,0.013
Kevin,0.002,0.142,0.011,0.126,0.007,0.016,0.128,1.274,0.452,0.689,0.154,0.032,0.031
Minh,0.115,0.007,0.035,0.013,0.039,0.026,0.232,0.066,0.028,0.136,0.004,0.029,0.011
Olga,0.000,0.162,0.203,0.727,0.160,0.005,0.001,0.021,0.131,0.039,0.014,0.084,0.079
Laura,0.025,0.097,0.020,0.068,0.113,0.341,0.266,0.005,0.002,0.245,0.353,0.061,0.013
Lou,0.024,0.021,0.017,0.000,0.150,0.403,0.006,0.170,0.057,0.000,0.419,0.077,0.060